blue-text = #353f63

body
  background-color #ebeef3
  margin: 0
  padding: 0

h1, h2, h3
  margin: 5px 0

p
  margin: 3px 0

.About
  .About-title
    color: blue-text

.Card
  background-color: #fff
  border-radius: 8px
  margin: 10px 0px
  padding: 10px

.Column-2
  display: grid
  grid-template-columns: repeat(2, 1fr)
  grid-template-rows: 1fr
  column-gap: 25px

.Container
  display: block
  margin: 0 auto
  width: 70%

.Header
  background-color: #fff
  .Header-flex
    display: flex
    align-items: center
    justify-content: space-between
  img
    border-radius: 50%
    height: 120px
    margin: 0 auto
    width: 120px
  .Header-title
    color: blue-text
  .Header-info
    width: 80%
  .Header-job-title
    color: blue-text
    margin: 5px 0
  .Header-flex
    display: flex
    align-items: center
    justify-content: flex-start
    p {
      margin-right: 30px
    }

.Profile
  .Profile-title
    color: blue-text
  .Profile-desc
    margin-top: 5px
